[Desktop Entry]
Name=Entrusted desktop Client
Name[en]=Entrusted desktop client
Name[fr]=Entrusted client de bureau
Comment=Convert suspicious documents to trusted PDFs
Comment[en]=Convert suspicious documents to trusted PDFs
Comment[fr]=Convertissez des documents suspects en PDF de confiance
Icon=entrusted-gui
Terminal=false
Type=Application
Categories=Graphics;
Keywords=Network;Container;PDF;
MimeType=application/pdf;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/msword;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.spreadsheet;image/jpeg;image/gif;image/png;image/tiff;image/x-tiff
X-AppImage-Version=f928615
Exec=sh -c "entrusted-gui %F"
TryExec=entrusted-gui
