<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>Entrusted</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>pdf</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/pdf</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>PDF Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>docx</string>
          <string>doc</string>
          <string>docm</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
          <string>application/msword</string>
          <string>application/vnd.ms-word.document.macroEnabled.12</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Microsoft Word Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>xlsx</string>
          <string>xls</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
          <string>application/vnd.ms-excel</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Microsoft Excel Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>pptx</string>
          <string>ppt</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
          <string>application/vnd.ms-powerpoint</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Microsoft PowerPoint Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>odt</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/vnd.oasis.opendocument.text</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>ODF Text Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ods</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/vnd.oasis.opendocument.spreadsheet</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>ODF Spreadsheet Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>odp</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/vnd.oasis.opendocument.presentation</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>ODF Presentation Document</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>jpg</string>
          <string>jpeg</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>image/jpeg</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>JPEG Image</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>gif</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>image/gif</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>GIF Image</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>png</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>image/png</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>PNG Image</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>tif</string>
          <string>tiff</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>../Resources/Entrusted.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>image/tiff</string>
          <string>image/x-tiff</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>TIFF Image</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>Entrusted</string>
    <key>CFBundleGetInfoString</key>
    <string>_APPVERSION_, Copyright 2022 _COMPANY_NAME_.</string>
    <key>CFBundleIconFile</key>
    <string>Entrusted.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.rimerosolutions.entrusted</string>
    <key>CFBundleDocumentTypes</key>
    <array>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
	<string>Entrusted</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>_APPVERSION_</string>
    <key>CFBundleSignature</key>
    <string>Entrusted</string>
    <key>CFBundleVersion</key>
    <string>_APPVERSION_</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2022 _COMPANY_NAME_.</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.3</string>
  </dict>
</plist>
