<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>Entrusted</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>CFBundleTypeName</key>
        <string>Entrusted PDF files</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.adobe.pdf</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>CFBundleTypeName</key>
        <string>Entrusted Text Documents</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.word.docx</string>
          <string>com.microsoft.word.doc</string>
          <string>org.openxmlformats.wordprocessingml.document</string>
          <string>org.oasis-open.opendocument.text</string>
          <string>public.rtf</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>CFBundleTypeName</key>
        <string>Entrusted Presentation Documents</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.powerpoint.ppt</string>
          <string>org.openxmlformats.presentationml.presentation</string>
          <string>org.oasis-open.opendocument.presentation</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>CFBundleTypeName</key>
        <string>Entrusted Spreadsheet Documents</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.excel.xls</string>
          <string>org.openxmlformats.spreadsheetml.sheet</string>
          <string>org.oasis-open.opendocument.spreadsheet</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>CFBundleTypeName</key>
        <string>Entrusted Drawing Documents</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.oasis-open.opendocument.graphics</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>CFBundleTypeName</key>
        <string>Entrusted image files</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.jpeg</string>
          <string>public.png</string>
          <string>public.tiff</string>
          <string>com.compuserve.gif</string>
        </array>
      </dict>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>Entrusted</string>
    <key>CFBundleGetInfoString</key>
    <string>_APPVERSION_, Copyright 2022 _COMPANY_NAME_.</string>
    <key>CFBundleIconFile</key>
    <string>Entrusted.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.rimerosolutions.entrusted</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Entrusted</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>_APPVERSION_</string>
    <key>CFBundleSignature</key>
    <string>Entrusted</string>
    <key>CFBundleVersion</key>
    <string>_APPVERSION_</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2022 _COMPANY_NAME_.</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.3</string>
  </dict>
</plist>
