[Unit]
Description=Entrusted Systemd Session
After=entrusted-webserver.service

[Service]
Type=oneshot
ExecStart=bash -c "loginctl enable-linger $(id -u entrusted)"
RemainAfterExit=yes

[Install]
WantedBy=default.target
