[Unit]
Description=Dangerzone HTTP server
After=network.target

[Service]
Type=simple
User=dangerzone
ExecStart=/usr/local/bin/dangerzone-httpserver --host 0.0.0.0 --port 13000
StandardOutput=file:/tmp/dangerzone-httpserver-stdout.log
StandardError=file:/tmp/dangerzone-httpserver-stderr.log
Restart=always

[Install]
WantedBy=multi-user.target
