[Unit]
Description=Entrusted Web Server
After=network.target

[Service]
Environment=LD_PRELOAD=/usr/lib/libhardened_malloc.so
Type=simple
User=entrusted
ExecStart=/usr/local/bin/entrusted-webserver --host 0.0.0.0 --port 13000
StandardOutput=file:/var/log/entrusted-webserver/stdout.log
StandardError=file:/var/log/entrusted-webserver/stderr.log
Restart=always

[Install]
WantedBy=multi-user.target
