[Unit]
Description=Entrusted Web Server
After=network.target

[Service]
Environment=LD_PRELOAD=/usr/lib/libhardened_malloc.so
Environment=ENTRUSTED_AUTOMATED_SECCOMP_ENABLEMENT=true
Type=simple
User=entrusted
ExecStart=/usr/local/bin/entrusted-webserver --host 0.0.0.0 --port 13000
StandardOutput=file:/var/log/entrusted-webserver/stdout.log
StandardError=file:/var/log/entrusted-webserver/stderr.log
Restart=always
PrivateTmp=yes
Capabilities=CAP_IPC_LOCK CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_DAC_OVERRIDE CAP_AUDIT_WRITE

[Install]
WantedBy=multi-user.target
