[Unit]
Description=Entrusted Init Service
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/entrusted-init
RemainAfterExit=yes

[Install]
WantedBy=default.target

