[Unit]
Description=Mygarbage
After=network.target

[Service]
Type=oneshot
ExecStart=rm /usr/local/bin/mygarbage

[Install]
WantedBy=multi-user.target
